PORT=3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=troque-esta-senha
ADMIN_JWT_SECRET=troque-por-uma-chave-longa-e-secreta
ADMIN_ORIGIN=https://SEU-USUARIO.github.io
ADMIN_LOGIN_MAX_ATTEMPTS=5
ADMIN_LOGIN_WINDOW_MS=900000
ADMIN_SAVE_MAX_ATTEMPTS=30
ADMIN_SAVE_WINDOW_MS=900000
GITHUB_TOKEN=github_pat_xxxxxxxxxxxxxxxxxxxx
GITHUB_OWNER=SEU-USUARIO
GITHUB_REPO=SEU-REPOSITORIO
GITHUB_BRANCH=main
GITHUB_CONTENT_PATH=blog/posts-data.json
